<!-- views/todo.ejs -->

<h1>Todo Information</h1>
<p>User ID: <%= todoData.userId %></p>
<p>ID: <%= todoData.id %></p>
<p>Title: <%= todoData.title %></p>
<p>Completed: <%= todoData.completed ? 'Yes' : 'No' %></p>